
<h1>Search for a flight</h1>


<%= form_tag flights_path, :method => :get do %>
<%= select_tag( :start_airport, options_for_select(@flight_start_options) )%>
<%= select_tag( :end_airport, options_for_select(@flight_end_options) )%>
<%= select_tag( :date, options_for_select(@flight_date_options) )%>
<%= select_tag( :passenger_number, options_for_select(1..4) )%>
<%= submit_tag "Submit" %>
<% end %>

<%= form_for '', url: new_flight_path, method: :get do |f| %>
<%= render @flights %>
<% end %>

 
<%= params.inspect %>